<!-- This page will allow user to choose the size of the grid and the symbol -->
{% extends "layout.html" %}

{% block title %}
	Start game
{% endblock %}

{% block main %}
  <form action="/selectgame" method="post">
    <div class="row">
      <div class="col-md-5">
      </div>
      <!-- for the forms -->
      <div class="col-md-2">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>Select</td>
              <td>
                <div class="form-group">
                  <!-- <label for="size">Grid size</label> -->
                  <select class="selectpicker form-control" name="size" id="size">
                      <option disabled>Select</option>
                    <!-- add a for loop here to loop through all the available stock -->
                      {% for size in sizes %}
                        <option>{{size}}</option>
                      {% endfor %}
                  </select>
                </div>
              </td>
            </tr>

            <tr>
              <td>Symbol</td>
              <td>
                <div class="form-group">
                  <!-- <label for="symbol">Symbol</label> -->
                  <select class="selectpicker form-control" name="symbol" id="symbol">
                      <option disabled>Select</option>
                      <option>X</option>
                      <option>O</option>
                  </select>
                </div>
              </td>
            </tr>

            <tr>
              <td>Difficulty levels</td>
              <td>
                <div class="form-group">
                  <!-- <label for="difficulty">Difficulty levels</label> -->
                  <select class="selectpicker form-control" name="difficulty" id="difficulty">
                      <option disabled>Select</option>
                    <!-- add a for loop here to loop through all the available stock -->
                      <option>Easy</option>
                      <option>Hard</option>
                  </select>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-5"></div>

      </div>
      <button class="btn btn-success" type="submit">Let's Start!</button>

    </form>

{% endblock %}